<div class="container">

  <nb-card>
    <nb-card-header>

      <div class="row">
        <div class="col-md-11">
          {{'Doctors' | translate}}
        </div>
        <div class=" col-md-1">

          <button nbButton status="primary" (click)="openAddDialog(Adddialog)"> <i class="fa fa-plus "></i></button>
        </div>
      </div>
    </nb-card-header>

    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source"
        (custom)="onCustomAction(Deletedialog,Editdialog,$event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>

</div>
<ng-template #Adddialog class="model-full" let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header> {{'Add' | translate}} {{'Doctor' | translate}}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="AddForm" (submit)="Add()">

        <div class="row">
          <div class=" col-md-6">



            <label> {{'Name' | translate}} </label>

            <input class="form-control" formControlName="name" type="text" nbInput fullWidth>
            <span *ngIf="hasError('name', 'required')" style="color: red">{{'Name' | translate}}
              {{'IsRequired' | translate}}</span>




          </div>
          <div class=" col-md-6">
            <label> {{'phoneNumber' | translate}} </label>

            <input class="form-control" formControlName="phoneNumber" numbersOnly type="text" nbInput fullWidth>
            <span *ngIf="hasError('phoneNumber', 'required')" style="color: red">{{'phoneNumber' | translate}}
              {{'IsRequired' | translate}}</span>
            <span *ngIf="hasError('phoneNumber', 'maxLength')" style="color: red">
              {{'PhoneNumberShouldbe12' | translate}}</span>
            <span *ngIf="hasError('phoneNumber', 'minLength')" style="color: red">
              {{'PhoneNumberShouldbe12' | translate}}</span>

          </div>

          <div class="col-md-6">
            <div class="form-group">


              <label> {{'genderType' | translate}} </label>
              <nb-select placeholder="Select  {{'genderType' | translate}}" formControlName="genderType">
                <nb-option [value]="1"> {{'male' | translate}}</nb-option>
                <nb-option [value]="2"> {{'female' | translate}}</nb-option>
              </nb-select>
              <span *ngIf="hasError('genderType', 'required')" style="color: red"> {{'genderType' | translate}}
                {{'IsRequired' | translate}}</span>


            </div>

          </div>

        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button type="button" class="cancel" [disabled]="AddForm.invalid" nbButton status="success"
        (click)="Add();ref.close()">{{'Save' | translate}} </button>
      <button nbButton (click)="ref.close()" status="danger">{{'Cancel' | translate}} </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #Editdialog class="model-full" let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header> {{'Edit' | translate}} {{'Doctor' | translate}}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="EditForm" (submit)="updateDoctor()">

        <div class="row">
          <div class=" col-md-6">

            <div class="form-group">

              <label> {{'Name' | translate}}</label>


              <input class="form-control" formControlName="name" type="text" nbInput fullWidth>
              <span *ngIf="hasEditError('name', 'required')" style="color: red">{{'Name' | translate}}
                {{'IsRequired' | translate}}</span>



            </div>
          </div>
          <div class=" col-md-6">

            <label> {{'phoneNumber' | translate}} </label>

            <input class="form-control" formControlName="phoneNumber" numbersOnly type="text" nbInput fullWidth>
            <span *ngIf="hasEditError('phoneNumber', 'required')" style="color: red">{{'phoneNumber' | translate}}
              {{'IsRequired' | translate}}</span>
          </div>

          <div class="col-md-6">
            <div class="form-group">


              <label> {{'genderType' | translate}} </label>
              <nb-select placeholder="Select  {{'genderType' | translate}}" formControlName="genderType">
                <nb-option [value]="1"> {{'male' | translate}}</nb-option>
                <nb-option [value]="2"> {{'female' | translate}}</nb-option>
              </nb-select>
              <span *ngIf="hasEditError('genderType', 'required')" style="color: red"> {{'genderType' | translate}}
                {{'IsRequired' | translate}}</span>

            </div>

          </div>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton type="button" nbButton status="success" [disabled]="EditForm.invalid" data-dismiss="modal"
        (click)="updateDoctor();ref.close()">{{'Save' | translate}}</button>
      <button nbButton status="danger" (click)="ref.close()">{{'Cancel' | translate}} </button>
    </nb-card-footer>
  </nb-card>
</ng-template>



<ng-template #Deletedialog class="model-full" let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header> {{'Delete' | translate}} {{'Doctor' | translate}} </nb-card-header>
    <nb-card-body>
      <div class="row col-md-8  col-offset-4">

        <p class="text-danger"> {{'AreYouSureYouWantToDeleteThisItem' | translate}} ?</p>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton type="button" nbButton status="success"
        (click)="ref.close(true);ref.close()">{{'Save' | translate}}</button>
      <button nbButton status="danger" (click)="ref.close()">{{'Cancel' | translate}} </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
