<nb-layout>
  <nb-layout-column>

    <div class="main">


      <div class="logincard">
        <form [formGroup]="loginForm" (submit)="login()">


          <h4 class="text-center">Welcome To Pharmcy Distribution</h4>

          <br>
          <div class="row">
            <div class=" col-md-4  offset-md-4   col-sm-6  offset-sm-3 ">

              <div class=" imgcard">


                <img alt="gb" class="imglogo" src="../../../assets/images/logo.png">
              </div>

              <br>

        <!-- spinner -->


        <!-- login form -->
<div [nbSpinner]="loader" nbSpinnerSize="giant" nbSpinnerStatus="primary">
              <div class="form-group">

                <label>User Name</label>

                <nb-form-field>
                  <input class="form-control" formControlName="userName" type="text" nbInput fullWidth>
                  <span *ngIf="hasError('userName', 'required')" style="color: red">userName is required</span>

                </nb-form-field>

              </div>

              <div class="form-group">

                <label>Password</label>


                <nb-form-field>
                  <input class="form-control" formControlName="password" [type]="getInputType()" nbInput fullWidth>

                  <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
                    <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-outline'" pack="eva"
                      [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                    </nb-icon>
                  </button>
                </nb-form-field>

              </div>

              <div class="buttons-row">
                <button type="submit" [disabled]="loginForm.invalid" nbButton outline status="warning" fullWidth
                  size="large">
                  Login
                </button>

              </div>

            </div>
          </div>

          </div>
        </form>
      </div>




    </div>
  </nb-layout-column>

</nb-layout>
