<div class="container">

  <nb-card>
    <nb-card-header>

      <div class="row">
        <div class="col-md-11">
          {{'ExpenseType' | translate}}
        </div>
        <div class=" col-md-1">

          <button nbButton status="primary" (click)="openAddDialog(Adddialog)"> <i class="fa fa-plus "></i></button>
        </div>
      </div>
    </nb-card-header>

    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source"
        (custom)="onCustomAction(Deletedialog,Editdialog,$event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>

</div>
<ng-template #Adddialog class="model-full" let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header> {{'Add' | translate}} {{'ExpenseType' | translate}}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="AddForm" (submit)="Add()">

        <div class="row">
          <div class=" col-md-6">



            <label> {{'NameAr' | translate}} </label>

            <input class="form-control" formControlName="NameAr" type="text" nbInput fullWidth>
            <span *ngIf="hasError('NameAr', 'required')" style="color: red">{{'NameAr' | translate}}
              {{'IsRequired' | translate}}</span>

          </div>
          <div class=" col-md-6">



            <label> {{'NameEn' | translate}} </label>

            <input class="form-control" formControlName="NameEn" type="text" nbInput fullWidth>
            <span *ngIf="hasError('NameEn', 'required')" style="color: red">{{'NameEn' | translate}}
              {{'IsRequired' | translate}}</span>




          </div>

        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button type="button" class="cancel" [disabled]="AddForm.invalid" nbButton status="success"
        (click)="Add();ref.close()">{{'Save' | translate}} </button>
      <button nbButton (click)="ref.close()" status="danger">{{'Cancel' | translate}} </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #Editdialog class="model-full" let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header> {{'Edit' | translate}} {{'ExpenseType' | translate}}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="EditForm" (submit)="updateExpenseType()">

        <div class="row">
          <div class=" col-md-6">



            <label> {{'NameAr' | translate}} </label>

            <input class="form-control" formControlName="NameAr" type="text" nbInput fullWidth>
            <span *ngIf="hasError('NameAr', 'required')" style="color: red">{{'NameAr' | translate}}
              {{'IsRequired' | translate}}</span>

          </div>
          <div class=" col-md-6">



            <label> {{'NameEn' | translate}} </label>

            <input class="form-control" formControlName="NameEn" type="text" nbInput fullWidth>
            <span *ngIf="hasError('NameEn', 'required')" style="color: red">{{'NameEn' | translate}}
              {{'IsRequired' | translate}}</span>




          </div>

        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton type="button" nbButton status="success" [disabled]="EditForm.invalid" data-dismiss="modal"
        (click)="updateExpenseType();ref.close()">{{'Save' | translate}}</button>
      <button nbButton status="danger" (click)="ref.close()">{{'Cancel' | translate}} </button>
    </nb-card-footer>
  </nb-card>
</ng-template>



<ng-template #Deletedialog class="model-full" let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header> {{'Delete' | translate}} {{'ExpenseType' | translate}} </nb-card-header>
    <nb-card-body>
      <div class="row col-md-8  col-offset-4">

        <p class="text-danger"> {{'AreYouSureYouWantToDeleteThisItem' | translate}} ?</p>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton type="button" nbButton status="success"
        (click)="ref.close(true);ref.close()">{{'Save' | translate}}</button>
      <button nbButton status="danger" (click)="ref.close()">{{'Cancel' | translate}} </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
