<div class="container">
  <div class="row">
    <div class="offset-9 col-md-3">

      <button nbButton status="primary" (click)="openAddDialog(Adddialog)">Add New Drug</button>
    </div>
  </div>
  <br>
  <nb-card>
    <nb-card-header>
      Drug Table
    </nb-card-header>

    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source"
        (custom)="onCustomAction(Deletedialog,Editdialog,$event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>

</div>
<ng-template #Adddialog class="model-full" let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Add Drug</nb-card-header>
    <nb-card-body>
      <form [formGroup]="AddForm" (submit)="Add()">

        <div class="row">
          <div class=" col-md-12">



            <label> Name</label>

            <nb-form-field>
              <input class="form-control" formControlName="drugName" type="text" nbInput fullWidth>
              <span *ngIf="hasError('drugName', 'required')" style="color: red">Name is required</span>

            </nb-form-field>


          </div>

        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button type="button" class="cancel" [disabled]="AddForm.invalid" nbButton status="success"
        (click)="Add();ref.close()">Save</button>
      <button nbButton (click)="ref.close()" status="danger">Close </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #Editdialog class="model-full" let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Edit Drug</nb-card-header>
    <nb-card-body>
      <form [formGroup]="EditForm" (submit)="updateDrug()">

        <div class="row">
          <div class=" col-md-12">

            <div class="form-group">

              <label> Name</label>

              <nb-form-field>
                <input class="form-control" formControlName="drugName" type="text" nbInput fullWidth>
                <span *ngIf="hasEditError('drugName', 'required')" style="color: red">Name is required</span>

              </nb-form-field>

            </div>
          </div>

        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton type="button" nbButton status="success" [disabled]="EditForm.invalid" data-dismiss="modal"
        (click)="updateDrug();ref.close()">Save</button>
      <button nbButton status="danger" (click)="ref.close()">Close </button>
    </nb-card-footer>
  </nb-card>
</ng-template>



<ng-template #Deletedialog class="model-full" let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Delete </nb-card-header>
    <nb-card-body>
      <div class="row col-md-8  col-offset-4">

        <p class="text-danger"> Confirm to delete item ?</p>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton type="button" nbButton status="success" (click)="ref.close(true);ref.close()">Confirm</button>
      <button nbButton status="danger" (click)="ref.close()">Close </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
