<div class="container">
  <div class="row">
    <div class="offset-9 col-md-3">

      <button nbButton status="primary" (click)="openAddDialog(Adddialog)">Add New Drug</button>
    </div>
  </div>
  <br>


  <table class="table table-res">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Action</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let drug of Drugs;let i =index">
        <td>{{i +1}}</td>
        <td>{{drug.drugName}}</td>
        <td>
          <nb-icon icon="edit" (click)="openEditDialog(Editdialog,drug.id)"></nb-icon> |
          <nb-icon icon="trash" (click)="openDeletedialog(Deletedialog,drug)"></nb-icon>
        </td>


      </tr>

    </tbody>

  </table>

</div>
<ng-template #Adddialog class="model-full" let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Add Drug</nb-card-header>
    <nb-card-body>
      <form [formGroup]="AddForm" (submit)="Add()">

        <div class="row">
          <div class=" col-md-6">

            <div class="form-group">

              <label> Name</label>

              <nb-form-field>
                <input class="form-control" formControlName="drugName" type="text" nbInput fullWidth>
                <span *ngIf="hasError('drugName', 'required')" style="color: red">Name is required</span>

              </nb-form-field>

            </div>
          </div>

        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button type="button" class="cancel" [disabled]="AddForm.invalid" nbButton status="success"
        (click)="Add()">Save</button>
      <button nbButton (click)="ref.close()" status="danger">Close </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #Editdialog class="model-full" let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Add Drug</nb-card-header>
    <nb-card-body>
      <form [formGroup]="EditForm" (submit)="updateDrug()">

        <div class="row">
          <div class=" col-md-6">

            <div class="form-group">

              <label> Name</label>

              <nb-form-field>
                <input class="form-control" formControlName="drugName" type="text" nbInput fullWidth>
                <span *ngIf="hasEditError('drugName', 'required')" style="color: red">Name is required</span>

              </nb-form-field>

            </div>
          </div>

        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton type="button" nbButton status="success" [disabled]="EditForm.invalid" data-dismiss="modal"
        (click)="updateDrug()">Save</button>
      <button nbButton status="danger" (click)="ref.close()">Close </button>
    </nb-card-footer>
  </nb-card>
</ng-template>



<ng-template #Deletedialog class="model-full" let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Add Drug</nb-card-header>
    <nb-card-body>
      <div class="row col-md-8  col-offset-4">

        <p class="text-danger"> Confirm to delete item ?</p>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton type="button" nbButton status="success" data-dismiss="Dmodal"
        (click)="DeleteDrug(DrugObject)">Confirm</button>
      <button nbButton status="danger" (click)="ref.close()">Close </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<style>
  .model-full {
    width: 100% !important;
    height: 100% !important;
  }

</style>
