<div class="container">


  <!-- table -->
  <div>
    <nb-card>
      <nb-card-header>

        <div class="row">
          <div class="col-md-11">
            {{'Pharmcies' | translate}}
          </div>
          <div class=" col-md-1">

            <button nbButton status="primary" (click)="openAddModal(Adddialog)">
              <i class="fa fa-plus "></i>
            </button>
          </div>
        </div>
      </nb-card-header>

      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source"
          (custom)="onCustomAction(Deletedialog,Editdialog,$event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>

  <!-- add mdaaal -->
  <ng-template #Adddialog class="model-full" let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>
        <h4 class="modal-title" id="modal-basic-title">{{'Add' | translate}} {{'Pharmcy' | translate}}</h4>

      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="AddForm" (submit)="Add()">

          <div class="row">
            <div class=" col-md-6">


              <label> {{'PharmcyName' | translate}}</label>

              <input class="form-control" formControlName="pharmcyName" type="text" nbInput fullWidth>
              <span *ngIf="hasError('pharmcyName', 'required')" style="color: red">
                {{'PharmcyName' | translate}}
                {{'IsRequired' | translate}}</span>



            </div>
            <div class=" col-md-6">

              <label>{{'StreetName' | translate}} </label>

              <input class="form-control" formControlName="streetName" type="text" nbInput fullWidth>
              <span *ngIf="hasError('streetName', 'required')" style="color: red">{{'StreetName' | translate}}
                {{'IsRequired' | translate}}</span>



            </div>

          </div>
          <br>

          <div class="row">


            <div class="col-md-6">
              <div class="form-group">


                <label> {{'Government' | translate}} </label>
                <nb-select placeholder="Select  {{'Government' | translate}}" formControlName="governerateId"
                  (selectedChange)="changeCities($event)">
                  <nb-option *ngFor="let g of allGovernorates" [value]="g.governorate_Id">{{g.governorate_Name}}
                  </nb-option>
                </nb-select>
                <span *ngIf="hasError('governerateId', 'required')" style="color: red"> {{'Government' | translate}}
                  {{'IsRequired' | translate}}</span>

              </div>

            </div>

            <div class="col-md-6 ">
              <div class="form-group">
                <label>{{'City' | translate}} </label>
                <nb-select placeholder="Select City" formControlName="cityId">
                  <nb-option *ngFor="let city of allCities" [value]="city.city_Id">{{city.city_Name}}</nb-option>
                </nb-select>
                <span *ngIf="hasError('cityId', 'required')" style="color: red">{{'City' | translate}}
                  {{'IsRequired' | translate}}</span>

              </div>


            </div>

          </div>
          <br>

        </form>

      </nb-card-body>

      <nb-card-footer>

        <button type="button" nbButton status="success" [disabled]="AddForm.invalid" (click)="Add();ref.close()">
          {{'Save' | translate}}</button>

        <button nbButton (click)="ref.close()" status="danger"> {{'Cancel' | translate}}</button>


      </nb-card-footer>
    </nb-card>
  </ng-template>


  <!-- edit mdaaal -->

  <ng-template #Editdialog class="model-full" let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>
        <h4 class="modal-title" id="modal-basic-title">{{'Edit' | translate}} {{'Pharmcy' | translate}}</h4>

      </nb-card-header>

      <nb-card-body>
        <form [formGroup]="EditForm" (submit)="updatePharmcy()">
          <div class="row">
            <div class=" col-md-6">

              <div class="form-group">

                <label> {{'Pharmcy' | translate}} {{'Name' | translate}}</label>

                <input class="form-control" class="form-control" formControlName="pharmcyName" type="text" nbInput
                  fullWidth>
                <span *ngIf="hasEditError('pharmcyName', 'required')" style="color: red">{{'Pharmcy' | translate}}
                  {{'Name' | translate}}
                  {{'IsRequired' | translate}}
                </span>

              </div>


            </div>

            <div class=" col-md-6">

              <div class="form-group">

                <label>{{'StreetName' | translate}}</label>


                <input class="form-control" formControlName="streetName" type="text" nbInput fullWidth>
                <span *ngIf="hasEditError('streetName', 'required')" style="color: red"> {{'StreetName' | translate}}
                  {{'IsRequired' | translate}}</span>



              </div>
            </div>
          </div>

          <br>

          <div class="row">


            <div class="col-md-6">
              <div class="form-group">


                <label> {{'Government' | translate}} </label>
                <nb-select placeholder="Select  {{'Government' | translate}}" formControlName="governerateId"
                  (selectedChange)="changeCities($event)">
                  <nb-option *ngFor="let g of allGovernorates" [value]="g.governorate_Id">{{g.governorate_Name}}
                  </nb-option>
                </nb-select>
                <span *ngIf="hasEditError('governerateId', 'required')" style="color: red"> {{'Government' | translate}}
                  {{'IsRequired' | translate}}</span>

              </div>

            </div>

            <div class="col-md-6 ">
              <div class="form-group">
                <label>{{'City' | translate}} </label>
                <nb-select placeholder="Select City" formControlName="cityId">
                  <nb-option *ngFor="let city of allCities" [value]="city.city_Id">{{city.city_Name}}</nb-option>
                </nb-select>
                <span *ngIf="hasEditError('cityId', 'required')" style="color: red">{{'City' | translate}}
                  {{'IsRequired' | translate}}</span>

              </div>


            </div>

          </div>
          <br>
        </form>

      </nb-card-body>

      <nb-card-footer>

        <button type="button" nbButton status="success" [disabled]="EditForm.invalid"
          (click)="updatePharmcy();ref.close()"> {{'Save' | translate}}</button>

        <button nbButton (click)="ref.close()" status="danger"> {{'Cancel' | translate}}</button>


      </nb-card-footer>
    </nb-card>
  </ng-template>


  <!-- delete mdaaal -->

  <ng-template #Deletedialog let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>
        <h4 class="modal-title" id="modal-basic-title">{{'Delete' | translate}} {{'Pharmcy' | translate}} </h4>

      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-12">
            <p class="text-danger" style="font-size: x-large;">
              {{'AreYouSureYouWantToDeleteThisItem' | translate}} ?


            </p>
          </div>
        </div>

      </nb-card-body>

      <nb-card-footer>

        <button type="button" nbButton status="success" (click)="ref.close(true);ref.close()">
          {{'Save' | translate}}</button>

        <button nbButton status="danger" (click)="ref.close()"> {{'Cancel' | translate}}</button>

      </nb-card-footer>
    </nb-card>
  </ng-template>


</div>
