<div class="container">
  <div class="row">
    <div class="offset-9 col-md-3">

      <button nbButton status="primary" (click)="openAddModal(Adddialog)">
        <i class="fa fa-plus "></i>
      </button>
    </div>
  </div>
  <br>

  <nb-card>
    <nb-card-header>
      Pharmcy Table
    </nb-card-header>

    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source"
        (custom)="onCustomAction(Deletedialog,Editdialog,$event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>


  <ng-template #Adddialog class="model-full" let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>
        <h4 class="modal-title" id="modal-basic-title">Add Pharmcy</h4>

      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="AddForm" (submit)="Add()">

          <div class="row">
            <div class=" col-md-6">

                <nb-form-field>
                <label>pharmcy Name</label>

                  <input class="form-control" formControlName="pharmcyName" type="text" nbInput fullWidth>
                  <span *ngIf="hasError('pharmcyName', 'required')" style="color: red">pharmcy Name is required</span>

                </nb-form-field>
              
            </div>
            <div class=" col-md-6">
                <nb-form-field>
                <label>Street Name </label>

                  <input class="form-control" formControlName="streetName" type="text" nbInput fullWidth>
                  <span *ngIf="hasError('streetName', 'required')" style="color: red">street Name is required</span>

                </nb-form-field>

          
            </div>

          </div>
<br>

          <div class="row">
      

            <div class="col-md-6">

              <nb-form-field>
                <label>Government </label>
                <nb-select placeholder="Select Governorate" lass="form-control" formControlName="governerate_Id"
                  (selectedChange)="changeCities($event)">
                  <nb-option *ngFor="let g of allGovernorates" [value]="g.governorate_Id">{{g.governorate_Name}}</nb-option>
                </nb-select>
                <span *ngIf="hasError('governerate_Id', 'required')" style="color: red">Government is required</span>
              </nb-form-field>
         
            </div>

            <div class="col-md-6">
              <nb-form-field>
                <label>city </label>
                <nb-select placeholder="Select City" lass="form-control" formControlName="city_Id">
                  <nb-option *ngFor="let city of allCities" [value]="city.city_Id">{{city.city_Name}}</nb-option>
                </nb-select>
                <span *ngIf="hasError('city_Id', 'required')" style="color: red">city is required</span>
              </nb-form-field>

          
            </div>

          </div>
<br>

        </form>

      </nb-card-body>

      <nb-card-footer>

        <button type="button" nbButton status="success" [disabled]="AddForm.invalid"
          (click)="Add();ref.close()">Save</button>

        <button nbButton (click)="ref.close()" status="danger">Close </button>


      </nb-card-footer>
    </nb-card>
  </ng-template>


  <ng-template #Editdialog class="model-full" let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>
        <h4 class="modal-title" id="modal-basic-title">Edit Pharmcy</h4>

      </nb-card-header>

      <nb-card-body>
        <form [formGroup]="EditForm" (submit)="updatePharmcy()">
          <div class="row">
            <div class=" col-md-6">


              <label>Pharmcy Name</label>

              
                <input class="form-control" formControlName="pharmcyName" type="text" nbInput fullWidth>
                <span *ngIf="hasEditError('pharmcyName', 'required')" style="color: red">PharmcyName is
                  required</span>

              

            </div>

            <div class=" col-md-6">

              <div class="form-group">

                <label>Street Name</label>

                <nb-form-field>
                  <input class="form-control" formControlName="streetName" type="text" nbInput fullWidth>
                  <span *ngIf="hasErrorEdit('streetName', 'required')" style="color: red">streetName is required</span>

                

              </div>
            </div>
          </div>
        </form>

      </nb-card-body>

      <nb-card-footer>

        <button type="button" nbButton status="success" [disabled]="EditForm.invalid"
          (click)="updatePharmcy();ref.close()">Save</button>

        <button nbButton (click)="ref.close()" status="danger">Close </button>


      </nb-card-footer>
    </nb-card>
  </ng-template>

  <ng-template #Deletedialog let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>
        <h4 class="modal-title" id="modal-basic-title">Delete</h4>

      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-12">
            <p class="text-danger" style="font-size: x-large;">
              confirm to delete this item ?


            </p>
          </div>
        </div>

      </nb-card-body>

      <nb-card-footer>

        <button type="button" nbButton status="success" (click)="ref.close(true);ref.close()">save</button>

        <button nbButton status="danger" (click)="ref.close()">Close </button>

      </nb-card-footer>
    </nb-card>
  </ng-template>


</div>
