<button class="btn btn-info" style="float: right;" (click)="openAddModal(AddModal)">Create New Pharmcy</button>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ph of Pharmcies;let i =index">
      <td>{{i +1}}</td>
      <td>{{ph.pharmcyName}}</td>
      <td>{{ph.address}}</td>
      <td>
        <button class="btn btn-warning" (click)="openEditModal(EditModal,ph.id)">Edit</button> |
        <button class="btn btn-danger" (click)="openDeleteModal(DeleteModal,ph)">Delete</button>
      </td>
    </tr>

  </tbody>

</table>

<ng-template #AddModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Pharmcy</h4>

  </div>
  <div class="modal-body">
    <form [formGroup]="AddForm" (submit)="Add()">

      <div class="row">
        <div class=" col-md-6">

          <div class="form-group">

            <label>pharmcy Name</label>

            <nb-form-field>
              <input class="form-control" formControlName="pharmcyName" type="text" nbInput fullWidth>
              <span *ngIf="hasError('pharmcyName', 'required')" style="color: red">pharmcy Name is required</span>

            </nb-form-field>

          </div>
        </div>
        <div class=" col-md-6">

          <div class="form-group">

            <label>pharmcy Address</label>

            <nb-form-field>
              <input class="form-control" formControlName="address" type="text" nbInput fullWidth>
              <span *ngIf="hasError('address', 'required')" style="color: red">Address is required</span>

            </nb-form-field>

          </div>
        </div>

      </div>
    </form>

  </div>

  <div class="row text-center  modal-footer">
    <div class="col-md-offset-3 col-md-3">
      <button type="button" class="btn btn-outline-success btn-md" [disabled]="AddForm.invalid" data-dismiss="modal"
        (click)="Add()">Save</button>
    </div>
    <div class=" col-md-3">
      <button type="button" class="btn btn-danger btn-md" data-dismiss="modal"
        (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
  </div>
</ng-template>


<ng-template #EditModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Pharmcy</h4>

  </div>
  <div class="modal-body">
    <form [formGroup]="EditForm" (submit)="updatePharmcy()">

      <div class="row">
        <div class=" col-md-6">

          <div class="form-group">

            <label>Pharmcy Name</label>

            <nb-form-field>
              <input class="form-control" formControlName="pharmcyName" type="text" nbInput fullWidth>
              <span *ngIf="hasErrorEdit('pharmcyName', 'required')" style="color: red">PharmcyName is required</span>

            </nb-form-field>

          </div>
        </div>
        <div class=" col-md-6">

          <div class="form-group">

            <label>Pharmcy Address</label>

            <nb-form-field>
              <input class="form-control" formControlName="address" type="text" nbInput fullWidth>
              <span *ngIf="hasErrorEdit('address', 'required')" style="color: red">address is required</span>

            </nb-form-field>

          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="row text-center  modal-footer">
    <div class="col-md-offset-3 col-md-3">
      <button type="button" class="btn btn-outline-success btn-md" [disabled]="EditForm.invalid" data-dismiss="modal"
        (click)="updatePharmcy()">Save</button>
    </div>
    <div class=" col-md-3">
      <button type="button" class="btn btn-danger btn-md" data-dismiss="modal"
        (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
  </div>
</ng-template>

<ng-template #DeleteModal let-Dmodal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete</h4>

  </div>
  <div class="modal-body">
    <div class="row">
      AreYouSureYouWantToDeleteThisItem
    </div>

  </div>

  <div class="row text-center  modal-footer">
    <div class="col-md-offset-3 col-md-3">
      <button type="button" class="btn btn-outline-success btn-md" data-dismiss="Dmodal"
        (click)="DeletePharmcy(PharmcyObject)">save</button>
    </div>
    <div class=" col-md-3">
      <button type="button" class="btn btn-danger btn-md" data-dismiss="Dmodal"
        (click)="Dmodal.dismiss('Cross click')">Cancel</button>
    </div>
  </div>
</ng-template>
