<div class="container">

  <nb-card>
    <nb-card-header>

      <div class="row">
        <div class="col-md-2">
          {{'Expenses' | translate}}
        </div>
        <div class="offset-6 col-md-2">

          <button nbButton status="default" (click)="exportoExcel()"> Export Excel</button>
        </div>
        <div class="offset-1 col-md-1">

          <button nbButton status="primary" (click)="openAddDialog(Adddialog)"> <i class="fa fa-plus "></i></button>
        </div>
      </div>
    </nb-card-header>

    <nb-card-body>
      <ng2-smart-table id="expenses-table" [settings]="settings" [source]="source"
        (custom)="onCustomAction(Deletedialog,Editdialog,$event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>

</div>
<ng-template #Adddialog class="model-full" let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header> {{'Add' | translate}} {{'Expense' | translate}}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="AddForm" (submit)="Add()">

        <div class="row">
          <div class=" col-md-6">
            <label> {{'UserName' | translate}} </label>
            <nb-select placeholder=" {{'PleaseChooseOne' | translate}} " formControlName="userId">
              <nb-option *ngFor="let g of Users" [value]="g.userId">{{g.userName}}
              </nb-option>
            </nb-select>
            <span *ngIf="hasError('userId', 'required')" style="color: red">{{'UserName' | translate}}
              {{'IsRequired' | translate}}</span>
          </div>

          <div class=" col-md-6">
            <label> {{'Amount' | translate}} </label>

            <input class="form-control" numbersOnly formControlName="amount" type="text" nbInput fullWidth>
            <span *ngIf="hasError('amount', 'required')" style="color: red">{{'Amount' | translate}}
              {{'IsRequired' | translate}}</span>
          </div>

          <div class=" col-md-6">
            <label> {{'Date' | translate}} </label>
            <input nbInput placeholder=" {{'Date' | translate}}" [nbDatepicker]="dateTimePicker" class="form-control"
              formControlName="date">
            <nb-datepicker #dateTimePicker></nb-datepicker>
            <span *ngIf="hasError('date', 'required')" style="color: red">{{'Date' | translate}}
              {{'IsRequired' | translate}}</span>
          </div>

    

          <div class=" col-md-6">
            <label> {{'ExpenseType' | translate}} </label>
            <nb-select placeholder="{{'PleaseChooseOne' | translate}} " formControlName="expenseTypesId">
              <nb-option *ngFor="let item of ExpenseTypes" [value]="item.id">{{item.expensesName}}
              </nb-option>
            </nb-select>
            <span *ngIf="hasError('expenseTypesId', 'required')" style="color: red">{{'ExpenseType' | translate}}
              {{'IsRequired' | translate}}</span>
          </div>

          <div class=" col-md-6">
            <label> {{'Description' | translate}} </label>
            <input class="form-control" formControlName="description" type="text" nbInput fullWidth>
 
          </div>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button type="button" class="cancel" [disabled]="AddForm.invalid" nbButton status="success"
        (click)="Add();ref.close()">{{'Save' | translate}} </button>
      <button nbButton (click)="ref.close()" status="danger">{{'Cancel' | translate}} </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #Editdialog class="model-full" let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header> {{'Edit' | translate}} {{'Expense' | translate}}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="EditForm" (submit)="updateExpense()">
        <div class="row">
          <div class=" col-md-6">
            <label> {{'UserName' | translate}} </label>
            <nb-select placeholder="{{'PleaseChooseOne' | translate}}" formControlName="userId">
              <nb-option *ngFor="let g of Users" [value]="g.userId">{{g.userName}}
              </nb-option>
            </nb-select>
            <span *ngIf="hasEditError('userId', 'required')" style="color: red">{{'UserName' | translate}}
              {{'IsRequired' | translate}}</span>
          </div>

          <div class=" col-md-6">
            <label> {{'Amount' | translate}} </label>

            <input class="form-control" numbersOnly formControlName="amount" type="text" nbInput fullWidth>
            <span *ngIf="hasEditError('amount', 'required')" style="color: red">{{'Amount' | translate}}
              {{'IsRequired' | translate}}</span>
          </div>

          <div class=" col-md-6">
            <label> {{'Date' | translate}} </label>
            <input nbInput placeholder=" {{'Date' | translate}}" [nbDatepicker]="dateTimePicker" class="form-control"
              formControlName="date">
            <nb-datepicker #dateTimePicker></nb-datepicker>
            <span *ngIf="hasEditError('date', 'required')" style="color: red">{{'Date' | translate}}
              {{'IsRequired' | translate}}</span>
          </div>



          <div class=" col-md-6">
            <label> {{'ExpenseType' | translate}} </label>
            <nb-select placeholder="{{'PleaseChooseOne' | translate}}" formControlName="expenseTypesId">
              <nb-option *ngFor="let g of ExpenseTypes" [value]="g.id">{{g.expensesName}}
              </nb-option>
            </nb-select>
            <span *ngIf="hasEditError('expenseTypesId', 'required')" style="color: red">{{'ExpenseType' | translate}}
              {{'IsRequired' | translate}}</span>
          </div>

          <div class=" col-md-6">
            <label> {{'Description' | translate}} </label>
            <input class="form-control" formControlName="description" type="text" nbInput fullWidth>
     
          </div>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton type="button" nbButton status="success" [disabled]="EditForm.invalid" data-dismiss="modal"
        (click)="updateExpense();ref.close()">{{'Save' | translate}}</button>
      <button nbButton status="danger" (click)="ref.close()">{{'Cancel' | translate}} </button>
    </nb-card-footer>
  </nb-card>
</ng-template>



<ng-template #Deletedialog class="model-full" let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header> {{'Delete' | translate}} {{'Expense' | translate}} </nb-card-header>
    <nb-card-body>
      <div class="row col-md-8  col-offset-4">

        <p class="text-danger"> {{'AreYouSureYouWantToDeleteThisItem' | translate}} ?</p>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton type="button" nbButton status="success"
        (click)="ref.close(true);ref.close()">{{'Save' | translate}}</button>
      <button nbButton status="danger" (click)="ref.close()">{{'Cancel' | translate}} </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
