<div class="container">
  <div class="row">
    <div class=" col-md-4">

      <div class="form-group">
        <label>{{'PharmcyName' | translate}}</label>

        <nb-select placeholder="Please choose one"  [(ngModel)]="selectedPharmcy" [selected]="selectedPharmcy"
        
        (selectedChange)="getUnpadidInvoices()" >
          <nb-option *ngFor="let p of Pharmcies" [value]="p.id">{{p.pharmcyName}}</nb-option>
        </nb-select>
     

      </div>
    </div>
  </div>
  


  <div *ngIf="unpaidInovices.length>0">
    <span class="text-danger">
      {{'UnpaidInvoice' | translate}}
    </span>
<br>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>{{'InvoiceNumber' | translate}}  </th>
          <th> {{'Date' | translate}} </th>
          <th> {{'Price' | translate}} </th>
          <th> {{'TotalAfterDiscount' | translate}} </th>
          <th> {{'Discount' | translate}} </th>
          <th> {{'Status' | translate}} </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of unpaidInovices;let i =index" >

          <td>{{i+1}}</td>
          <td>{{item.invoiceNumber}}</td>
          <td>{{item.invoiceDate}}         </td>
          <td>{{item.totalPrice}}  </td>
          <td>{{item.totalPriceAfterDis}}% </td>
          <td>{{item.disCount}} </td>
          <td>    <nb-toggle status="success" (checkedChange)="confirmPay(ConfirmDialog,item)"
             [checked]="item.invoiceType===1? 'false' :'true' "></nb-toggle> </td>

        </tr>
      </tbody>

    </table>

  </div>

  <div>
    
    <nb-card>
      <nb-card-header>

        <div class="row">
          <div class="col-md-11">
            {{'Invoices' | translate}}
          </div>
          <div class="col-md-1">

            <button nbButton status="primary" (click)="openAddModal(Adddialog)"> <i class="fa fa-plus "></i></button>
          </div>
        </div>
      </nb-card-header>

      <nb-card-body>

        <ng2-smart-table [settings]="settings" [source]="source"
          (custom)="onCustomAction(Deletedialog,Editdialog,Viewdialog,$event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>



  <ng-template #Adddialog class="model-full" let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>
        <h4 class="modal-title" id="modal-basic-title">{{'Add' | translate}}{{'Invoice' | translate}}</h4>

      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="AddForm">

          <div class="row">
            <div class=" col-md-5">

              <div class="form-group">
                <label> {{'PharmcyName' | translate}}   </label>

                <nb-select  placeholder="{{'PleaseChooseOne ' | translate}} " formControlName="PharmcyId">
                  <nb-option *ngFor="let p of Pharmcies" [value]="p.id">{{p.pharmcyName}}</nb-option>
                </nb-select>
                <span *ngIf="hasError('PharmcyId', 'required')"
                  style="color: red">{{'PharmcyName' | translate}} {{'IsRequired' | translate}}</span>

              </div>
            </div>

            <div class=" col-md-5">

              <div class="form-group">

                <label>{{'InvoiceType' | translate}} </label>

                <nb-select 
                  formControlName="InvoiceType">
                  <nb-option *ngFor="let it of invoiceTypeList" [value]="it.Value">{{it.Text}}</nb-option>
                </nb-select>

              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">

                <label> {{'Date' | translate}}</label>
                <input nbInput placeholder="Pick Date" [nbDatepicker]="dateTimePicker" class="form-control"
                  (change)="onChanges()" formControlName="InvoiceDate">
                <nb-datepicker #dateTimePicker></nb-datepicker>
                <span *ngIf="hasError('InvoiceDate', 'required')" style="color: red"> {{'Date' | translate}}
                  {{'IsRequired' | translate}}</span>

              </div>
            </div>
            <div class=" col-md-5">

              <div class="form-group">


                <label> {{'Discount' | translate}}</label>

                %<input (keyup)="CalculateTotal()" class="form-control" numbersOnly
                  placeholder="{{'Discount' | translate}} %" formControlName="DisCount" type="text" nbInput fullWidth>
                <span *ngIf="hasError('DisCount', 'min')" style="color: red"> {{'minimumnumberis' | translate}}
                  12</span>
                <span *ngIf="hasError('DisCount', 'max')" style="color: red"> {{'maximumnumberis' | translate}} 30
                </span>
                <span *ngIf="hasError('DisCount', 'required')" style="color: red"> {{'Discount' | translate}}
                  {{'IsRequired' | translate}}</span>


              </div>
            </div>




          </div>

          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>{{'DrugName' | translate}}  </th>
                <th> {{'Quantity' | translate}} </th>
                <th> {{'Price' | translate}} </th>
                <th> {{'Total' | translate}} </th>
                <th> {{'Action' | translate}} </th>

              </tr>
            </thead>
            <tbody formArrayName="invoiceDetails">
              <tr *ngFor="let iv of AddinvoiceDetails.controls;let i =index" [formGroupName]="i">

                <td>
                  {{i+1}}
                </td>
                <td>

                  <nb-select placeholder=" {{'DrugName ' | translate}} " formControlName="drugId" required>
                      <nb-option *ngFor="let d of StockDetails" [value]="d.drugId"
                      (selectionChange)="calculateDrugPrice()">
                      {{d.drugName}}</nb-option>
                  </nb-select>

                </td>
                <td>

                  <input class="form-control" required numbersOnly formControlName="qunantity" type="text" nbInput
                    fullWidth (keyup)="CalculateTotal()" (input)="calculateDrugPrice()">


                </td>
                <td>

                  <input class="form-control" required numbersOnly formControlName="price" disabled type="text" nbInput
                    fullWidth (keyup)="CalculateTotal()">


                </td>
                <td>
                  <input class="form-control" disabled formControlName="total" type="text" fullWidth required>
                </td>

                <td>
                  <nb-icon style="font-size: xx-large;color: #009688;" *ngIf="i ==0" icon="plus" status="success" (click)=" addInvloiceDetailsList()"></nb-icon>
                  <nb-icon  style="font-size: xx-large;" *ngIf="i !=0" icon="trash" status="danger" (click)="removeInvoiceDetails(i)"></nb-icon>

                </td>

              </tr>
            </tbody>

          </table>
          <tfoot>
            <tr>
              <td> {{'Total' | translate}} : </td>
              <td>{{Total}}</td>
            </tr>
            <tr>
              <td> {{'TotalAfterDiscount' | translate}} : </td>
              <td>{{TotalDiscount}}</td>
            </tr>
          </tfoot>
        </form>

      </nb-card-body>

      <nb-card-footer>

        <button type="button" nbButton status="success" [disabled]="AddForm.invalid" (click)="Add();ref.close()">
          {{'Save' | translate}} </button>

        <button nbButton status="danger" (click)="ClearForm();ref.close()"> {{'Cancel' | translate}} </button>


      </nb-card-footer>
    </nb-card>
  </ng-template>


  <ng-template #Editdialog class="model-full" let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>
        <h4 class="modal-title" id="modal-basic-title">{{'Edit' | translate}}{{'Invoice' | translate}}</h4>

      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="EditForm">
          <div class="row">
            <div class=" col-md-4">

              <div class="form-group">
                <label>{{'PharmcyName' | translate}}</label>

                <nb-select placeholder="Select pharamcy" formControlName="PharmcyId">
                  <nb-option *ngFor="let p of Pharmcies" [value]="p.id">{{p.pharmcyName}}</nb-option>
                </nb-select>
                <span *ngIf="hasEditError('PharmcyId', 'required')"
                  style="color: red"> {{'PharmcyName' | translate}}{{'IsRequired' | translate}}</span>

              </div>
            </div>

            <div class=" col-md-4">

              <div class="form-group">

                <label>{{'InvoiceType' | translate}}</label>

                <nb-select placeholder="{{'PleaseChooseOne ' | translate}} "
                  formControlName="InvoiceType">
                  <nb-option *ngFor="let it of invoiceTypeList" [value]="it.Value">{{it.Text}}</nb-option>
                </nb-select>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">

                <label> {{'Date' | translate}}</label>
                <input nbInput placeholder="Pick Date" [nbDatepicker]="dateTimePicker" class="form-control"
                  (change)="onEditChange()" formControlName="InvoiceDate">
                <nb-datepicker #dateTimePicker></nb-datepicker>
                <span *ngIf="hasEditError('InvoiceDate', 'required')" style="color: red"> {{'Date' | translate}}
                  {{'IsRequired' | translate}}</span>

              </div>
            </div>
            <div class=" col-md-4">

              <div class="form-group">


                <label> {{'Discount' | translate}}</label>

                <input class="form-control" numbersOnly placeholder="{{'Discount' | translate}} %"
                  formControlName="DisCount" type="text" nbInput fullWidth>
                <span *ngIf="hasEditError('DisCount', 'min')" style="color: red"> {{'minimumnumberis' | translate}}
                  12</span>
                <span *ngIf="hasEditError('DisCount', 'max')" style="color: red"> {{'maximumnumberis' | translate}} 30
                </span>
                <span *ngIf="hasEditError('DisCount', 'required')" style="color: red"> {{'Discount' | translate}}
                  {{'IsRequired' | translate}}</span>


              </div>
            </div>




          </div>


          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>{{'DrugName' | translate}} </th>
                <th> {{'Quantity' | translate}} </th>
                <th> {{'Price' | translate}} </th>
                <th> {{'Total' | translate}} </th>
                <th> {{'Action' | translate}} </th>

              </tr>
            </thead>
            <tbody formArrayName="invoiceDetails">
              <tr *ngFor="let iv of EditInvoiceDetails.controls;let in =index" [formGroupName]="in">
                <td>
                  {{in}}
                </td>
                <td>
                  <nb-select placeholder="{{'PleaseChooseOne ' | translate}} " formControlName="drugId" required
                    (input)="calculateEditDrugPrice(in)">
                      <nb-option *ngFor="let d of StockDetails" [value]="d.drugId">{{d.drugName}}</nb-option>
                  </nb-select>

                </td>
                <td>

                  <input class="form-control" required numbersOnly formControlName="qunantity" type="text" nbInput
                    fullWidth (keyup)="CalculateEditTotal()" (input)="calculateEditDrugPrice(in)">

                </td>
                <td>

                  <input class="form-control" required numbersOnly formControlName="price" type="text" nbInput fullWidth
                    (keyup)="CalculateEditTotal()" disabled (input)="calculateEditDrugPrice(in)">


                </td>
                <td>
                  <input class="form-control" disabled formControlName="total" type="text" fullWidth required>
                </td>

                <td>
                  <nb-icon *ngIf="in ==0" icon="plus" (click)=" EditInvloiceDetailsList()"></nb-icon>
                  <nb-icon *ngIf="in !=0" icon="trash" (click)="removeInvoiceDetailsEdit(in)"></nb-icon>

                </td>

              </tr>
            </tbody>

          </table>
          <tfoot>
            <tr>
              <td> {{'Total' | translate}} : </td>
              <td>{{TotalEdit}}</td>
            </tr>
            <tr>
              <td> {{'TotalAfterDiscount' | translate}} : </td>
              <td>{{TotalDiscountEdit}}</td>
            </tr>
          </tfoot>
        </form>

      </nb-card-body>

      <nb-card-footer>

        <button type="button" nbButton status="success" [disabled]="EditForm.invalid"
          (click)="updateInvoice();ref.close()"> {{'Save' | translate}} </button>
        <button nbButton status="danger" (click)="ClearForm();ref.close()"> {{'Cancel' | translate}} </button>


      </nb-card-footer>
    </nb-card>
  </ng-template>


  <ng-template #Deletedialog class="model-full" let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>
        <h4 class="modal-title" id="modal-basic-title">{{'Delete' | translate}}</h4>

      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-8">
            <p class="text-danger">
              {{'AreYouSureYouWantToDeleteThisItem' | translate}} ?
            </p>
          </div>
        </div>

      </nb-card-body>

      <nb-card-footer>

        <button type="button" nbButton status="success" (click)="ref.close(true);ref.close()"> {{'Save' | translate}}
        </button>

        <button nbButton status="danger" (click)="ref.close()"> {{'Cancel' | translate}} </button>

      </nb-card-footer>
    </nb-card>
  </ng-template>

  <ng-template #ConfirmDialog class="model-full" let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>
        <h4 class="modal-title" id="modal-basic-title">{{'Confirm' | translate}}</h4>

      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-8">
            <p class="text-danger">
              {{'ConfirmPayingMsg' | translate}} ?
            </p>
          </div>
        </div>

      </nb-card-body>

      <nb-card-footer>

        <button type="button" nbButton status="success" (click)="ref.close(true);ref.close()"> {{'Confirm' | translate}}
        </button>

        <button nbButton status="danger" (click)="ref.close()"> {{'Cancel' | translate}} </button>

      </nb-card-footer>
    </nb-card>
  </ng-template>
</div>

<ng-template #Viewdialog class="model-full" let-data let-ref="dialogRef">
  <nb-card>

    <nb-card-body>
   
        <div class="row">
          <div class=" col-md-4">

            <div class="form-group">
              <label>{{'PharmcyName' | translate}} </label>

              <input nbInput [(ngModel)]="viewModel.pharmcyName"  disabled >

           
          </div>
        </div>

          <div class=" col-md-4">

            <div class="form-group">

              <label>{{'InvoiceType' | translate}}</label>

              <input nbInput  disabled [(ngModel)]="viewModel.invoiceTypeText"  >

            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">

              <label> {{'Date' | translate}}</label>
              <input nbInput disabled [(ngModel)]="viewModel.invoiceDate" [nbDatepicker]="dateTimePicker" 
               >
              <nb-datepicker #dateTimePicker></nb-datepicker>
        

            </div>
          </div>
          <div class=" col-md-4">

            <div class="form-group">


              <label> {{'Discount' | translate}}</label>

              <input disabled  [(ngModel)]="viewModel.disCount"
               type="text" nbInput fullWidth>
     
            


            </div>
          </div>

        </div>


        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>{{'DrugName' | translate}}</th>
              <th> {{'Quantity' | translate}} </th>
              <th> {{'Price' | translate}} </th>
              <th> {{'Total' | translate}} </th>
       

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of viewModel.invoiceDetails;let in =index" >
              <td>
                {{in}}
              </td>
              <td>
                   <input disabled type="text" nbInput [(ngModel)]="item.drugName"
                  fullWidth >

              </td>
              <td>

                   <input disabled type="text" nbInput [(ngModel)]="item.qunantity"
                  fullWidth >

              </td>
              <td>

               <input disabled type="text" nbInput [(ngModel)]="item.price"
                  fullWidth >


              </td>
              <td>
           <input disabled type="text" nbInput [(ngModel)]="item.total"
                  fullWidth >
              </td>

     

            </tr>
          </tbody>

        </table>
        <tfoot>
          <tr>
            <td> {{'Total' | translate}} : </td>
            <td>{{viewModel.totalPrice}}</td>
          </tr>
          <tr>
            <td> {{'TotalAfterDiscount' | translate}} : </td>
            <td>{{viewModel.  totalPriceAfterDis}}</td>
          </tr>
        </tfoot> 
  

    </nb-card-body>
    <nb-card-footer>

  

      <button nbButton status="danger" (click)="ref.close()"> {{'Cancel' | translate}} </button>

    </nb-card-footer>

  </nb-card>
</ng-template>
