<div class="container">



  <div>
    <nb-card>
      <nb-card-header>

        <div class="row">
          <div class="col-md-3">
            {{'Invoices' | translate}}
          </div>
          <div class="offset-8 col-md-1">

            <button nbButton status="primary" (click)="openAddModal(Adddialog)"> <i class="fa fa-plus "></i></button>
          </div>
        </div>
      </nb-card-header>

      <nb-card-body>

        <ng2-smart-table [settings]="settings" [source]="source"
          (custom)="onCustomAction(Deletedialog,Editdialog,$event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>



  <ng-template #Adddialog class="model-full" let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>
        <h4 class="modal-title" id="modal-basic-title">{{'Add' | translate}}{{'Invoice' | translate}}</h4>

      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="AddForm">

          <div class="row">
            <div class=" col-md-4">

              <div class="form-group">
                <label>{{'Pharmcy' | translate}} {{'Name' | translate}}</label>

                <nb-select placeholder="Select pharamcy" formControlName="PharmcyId">
                  <nb-option *ngFor="let p of Pharmcies" [value]="p.id">{{p.pharmcyName}}</nb-option>
                </nb-select>
                <span *ngIf="hasError('PharmcyId', 'required')"
                  style="color: red">{{'IsRequired' | translate}}{{'IsRequired' | translate}}</span>

              </div>
            </div>

            <div class=" col-md-4">

              <div class="form-group">

                <label>{{'Invoice' | translate}} {{'Type' | translate}}</label>

                <nb-select placeholder="Select {{'Invoice ' | translate}} {{'Type' | translate}}"
                  formControlName="InvoiceType">
                  <nb-option *ngFor="let it of invoiceTypeList" [value]="it.Value">{{it.Text}}</nb-option>
                </nb-select>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">

                <label> {{'Date' | translate}}</label>
                <input nbInput placeholder="Pick Date" [nbDatepicker]="dateTimePicker" class="form-control"
                  (change)="onChanges()" formControlName="InvoiceDate">
                <nb-datepicker #dateTimePicker></nb-datepicker>
                <span *ngIf="hasError('InvoiceDate', 'required')" style="color: red"> {{'Date' | translate}}
                  {{'IsRequired' | translate}}</span>

              </div>
            </div>
            <div class=" col-md-4">

              <div class="form-group">


                <label> {{'Discount' | translate}}</label>

                <input (keyup)="CalculateTotal()" class="form-control" numbersOnly
                  placeholder="{{'Discount' | translate}} %" formControlName="DisCount" type="text" nbInput fullWidth>
                <span *ngIf="hasError('DisCount', 'min')" style="color: red"> {{'minimumnumberis' | translate}}
                  12</span>
                <span *ngIf="hasError('DisCount', 'max')" style="color: red"> {{'maximumnumberis' | translate}} 30
                </span>
                <span *ngIf="hasError('DisCount', 'required')" style="color: red"> {{'Discount' | translate}}
                  {{'IsRequired' | translate}}</span>


              </div>
            </div>




          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">

                <label>{{'Invoice' | translate}} {{'Number' | translate}}</label>
                <input nbInput placeholder="{{'Invoice' | translate}} {{'Number' | translate}}" class="form-control"
                  formControlName="InvoiceNumber" type="text" fullWidth disabled>
                <span *ngIf="hasError('InvoiceNumber', 'required')" style="color: red">{{'Invoice' | translate}}
                  {{'Number' | translate}}
                  {{'IsRequired' | translate}}</span>

              </div>
            </div>
          </div>
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>{{'Drug' | translate}} {{'Name' | translate}} </th>
                <th> {{'Quantity' | translate}} </th>
                <th> {{'Price' | translate}} </th>
                <th> {{'Total' | translate}} </th>
                <th> {{'Action' | translate}} </th>

              </tr>
            </thead>
            <tbody formArrayName="invoiceDetails">
              <tr *ngFor="let iv of AddinvoiceDetails.controls;let i =index" [formGroupName]="i">

                <td>
                  {{i}}
                </td>
                <td>
                  <nb-select placeholder="اسم الدواء" formControlName="drugId" required>
                    <nb-option disabled value="">Option empty</nb-option>
                    <nb-option *ngFor="let d of StockDetails" [value]="d.drugId">{{d.drugName}}</nb-option>
                  </nb-select>

                </td>
                <td>

                  <input class="form-control" required numbersOnly formControlName="qunantity" type="text" nbInput
                    fullWidth (keyup)="CalculateTotal()" (input)="calculateDrugPrice(i)">


                </td>
                <td>

                  <input class="form-control" required numbersOnly formControlName="price" type="text" nbInput fullWidth
                    (keyup)="CalculateTotal()" (input)="calculateDrugPrice(i)">


                </td>
                <td>
                  <input class="form-control" disabled formControlName="total" type="text" fullWidth required>
                </td>

                <td>
                  <nb-icon *ngIf="i ==0" icon="plus" status="success" (click)=" addInvloiceDetailsList()"></nb-icon>
                  <nb-icon *ngIf="i !=0" icon="trash" status="danger" (click)="removeInvoiceDetails(i)"></nb-icon>

                </td>

              </tr>
            </tbody>

          </table>
          <tfoot>
            <tr>
              <td> {{'Total' | translate}} : </td>
              <td>{{Total}}</td>
            </tr>
            <tr>
              <td> {{'TotalAfterDiscount' | translate}} : </td>
              <td>{{TotalDiscount}}</td>
            </tr>
          </tfoot>
        </form>

      </nb-card-body>

      <nb-card-footer>

        <button type="button" nbButton status="success" [disabled]="AddForm.invalid" (click)="Add();ref.close()">
          {{'Save' | translate}} </button>

        <button nbButton status="danger" (click)="ClearForm();ref.close()"> {{'Cancel' | translate}} </button>


      </nb-card-footer>
    </nb-card>
  </ng-template>


  <ng-template #Editdialog class="model-full" let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>
        <h4 class="modal-title" id="modal-basic-title">{{'Edit' | translate}}{{'Invoice' | translate}}</h4>

      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="EditForm">
          <div class="row">
            <div class=" col-md-4">

              <div class="form-group">
                <label>{{'Pharmcy' | translate}} {{'Name' | translate}}</label>

                <nb-select placeholder="Select pharamcy" formControlName="PharmcyId">
                  <nb-option *ngFor="let p of Pharmcies" [value]="p.id">{{p.pharmcyName}}</nb-option>
                </nb-select>
                <span *ngIf="hasEditError('PharmcyId', 'required')"
                  style="color: red">{{'IsRequired' | translate}}{{'IsRequired' | translate}}</span>

              </div>
            </div>

            <div class=" col-md-4">

              <div class="form-group">

                <label>{{'Invoice' | translate}} {{'Type' | translate}}</label>

                <nb-select placeholder="Select {{'Invoice ' | translate}} {{'Type' | translate}}"
                  formControlName="InvoiceType">
                  <nb-option *ngFor="let it of invoiceTypeList" [value]="it.Value">{{it.Text}}</nb-option>
                </nb-select>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">

                <label> {{'Date' | translate}}</label>
                <input nbInput placeholder="Pick Date" [nbDatepicker]="dateTimePicker" class="form-control"
                  (change)="onEditChange()" formControlName="InvoiceDate">
                <nb-datepicker #dateTimePicker></nb-datepicker>
                <span *ngIf="hasEditError('InvoiceDate', 'required')" style="color: red"> {{'Date' | translate}}
                  {{'IsRequired' | translate}}</span>

              </div>
            </div>
            <div class=" col-md-4">

              <div class="form-group">


                <label> {{'Discount' | translate}}</label>

                <input class="form-control" numbersOnly placeholder="{{'Discount' | translate}} %"
                  formControlName="DisCount" type="text" nbInput fullWidth>
                <span *ngIf="hasEditError('DisCount', 'min')" style="color: red"> {{'minimumnumberis' | translate}}
                  12</span>
                <span *ngIf="hasEditError('DisCount', 'max')" style="color: red"> {{'maximumnumberis' | translate}} 30
                </span>
                <span *ngIf="hasEditError('DisCount', 'required')" style="color: red"> {{'Discount' | translate}}
                  {{'IsRequired' | translate}}</span>


              </div>
            </div>




          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">

                <label>{{'Invoice' | translate}} {{'Number' | translate}}</label>
                <input nbInput placeholder="{{'Invoice' | translate}} {{'Number' | translate}}" class="form-control"
                  formControlName="InvoiceNumber" type="text" fullWidth disabled>
                <span *ngIf="hasEditError('InvoiceNumber', 'required')" style="color: red">{{'Invoice' | translate}}
                  {{'Number' | translate}} is
                  required</span>

              </div>
            </div>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>{{'Drug' | translate}} {{'Name' | translate}} </th>
                <th> {{'Quantity' | translate}} </th>
                <th> {{'Price' | translate}} </th>
                <th> {{'Total' | translate}} </th>
                <th> {{'Action' | translate}} </th>

              </tr>
            </thead>
            <tbody formArrayName="invoiceDetails">
              <tr *ngFor="let iv of EditInvoiceDetails.controls;let in =index" [formGroupName]="in">
                <td>
                  {{in}}
                </td>
                <td>
                  <nb-select placeholder="Select Showcase" formControlName="drugId" required>
                    <nb-option disabled value="">Option empty</nb-option>
                    <nb-option *ngFor="let d of StockDetails" [value]="d.drugId">{{d.drugName}}</nb-option>
                  </nb-select>

                </td>
                <td>

                  <input class="form-control" required numbersOnly formControlName="qunantity" type="text" nbInput
                    fullWidth (keyup)="CalculateEditTotal()" (input)="calculateEditDrugPrice(in)">

                </td>
                <td>

                  <input class="form-control" required numbersOnly formControlName="price" type="text" nbInput fullWidth
                    (keyup)="CalculateEditTotal()" (input)="calculateEditDrugPrice(in)">


                </td>
                <td>
                  <input class="form-control" disabled formControlName="total" type="text" fullWidth required>
                </td>

                <td>
                  <nb-icon *ngIf="in ==0" icon="plus" (click)=" EditInvloiceDetailsList()"></nb-icon>
                  <nb-icon *ngIf="in !=0" icon="trash" (click)="removeInvoiceDetailsEdit(in)"></nb-icon>

                </td>

              </tr>
            </tbody>

          </table>
          <tfoot>
            <tr>
              <td> {{'Total' | translate}} : </td>
              <td>{{TotalEdit}}</td>
            </tr>
            <tr>
              <td> {{'TotalAfterDiscount' | translate}} : </td>
              <td>{{TotalDiscountEdit}}</td>
            </tr>
          </tfoot>
        </form>

      </nb-card-body>

      <nb-card-footer>

        <button type="button" nbButton status="success" [disabled]="EditForm.invalid"
          (click)="updateInvoice();ref.close()"> {{'Save' | translate}} </button>
        <button nbButton status="danger" (click)="ClearForm();ref.close()"> {{'Cancel' | translate}} </button>


      </nb-card-footer>
    </nb-card>
  </ng-template>


  <ng-template #Deletedialog class="model-full" let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>
        <h4 class="modal-title" id="modal-basic-title">{{'Delete' | translate}}</h4>

      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-8">
            <p class="text-danger">
              {{'AreYouSureYouWantToDeleteThisItem' | translate}} ?
            </p>
          </div>
        </div>

      </nb-card-body>

      <nb-card-footer>

        <button type="button" nbButton status="success" (click)="ref.close(true);ref.close()"> {{'Save' | translate}}
        </button>

        <button nbButton status="danger" (click)="ref.close()"> {{'Cancel' | translate}} </button>

      </nb-card-footer>
    </nb-card>
  </ng-template>
</div>
