<div class="container">




  <nb-card>
    <nb-card-header>

      <div class="row">
        <div class="col-md-3">
          {{'Receipts' | translate}}
          <nb-icon icon="home">

          </nb-icon>
        </div>
        <div class="offset-6 col-md-1">

          <button nbButton status="default" (click)="exportoExcel()"> Export Excel</button>
        </div>
        <div class="offset-1  col-md-1">

          <button nbButton status="primary" (click)="openAddModal(Adddialog)"> <i class="fa fa-plus "></i></button>
        </div>
        
      </div>
    </nb-card-header>

    <nb-card-body>
      <ng2-smart-table  id="excel-table" [settings]="settings" [source]="source"
        (custom)="onCustomAction(Deletedialog,Editdialog,Viewdialog,$event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>

  <ng-template #Adddialog class="model-full" let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>
        <h4 class="modal-title" id="modal-basic-title">{{'Add' | translate}}</h4>

      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="AddForm">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">

                <label> {{'Date' | translate}}</label>
                <input nbInput placeholder="Pick Date" [nbDatepicker]="dateTimePicker" class="form-control"
                  (change)="onChanges()" formControlName="Date">
                <nb-datepicker #dateTimePicker></nb-datepicker>
                <span *ngIf="hasError('Date', 'required')" style="color: red"> {{'Date' | translate}}
                  {{'IsRequired' | translate}}</span>

              </div>
            </div>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>{{'Drug' | translate}} {{'Name' | translate}} </th>
                <th> {{'Quantity' | translate}} </th>
                <th> {{'Action' | translate}} </th>

              </tr>
            </thead>
            <tbody formArrayName="receiptDetails">
              <tr *ngFor="let iv of AddreceiptDetails.controls;let i =index" [formGroupName]="i">

                <td>
                  {{i}}
                </td>
                <td>
                  <nb-select placeholder="اسم الدواء" formControlName="drugId" required>
                    
                    <nb-option *ngFor="let d of Drugs" [value]="d.id">{{d.drugName}}</nb-option>
                  </nb-select>

                </td>
                <td>

                  <input class="form-control" required numbersOnly formControlName="quantity" type="text" nbInput
                    fullWidth (keyup)="CalculateTotal()">


                </td>

                <td>
                  <nb-icon *ngIf="i ==0" icon="plus" status="success" (click)=" addreceiptDetailsList()"></nb-icon>
                  <nb-icon *ngIf="i !=0" icon="trash" status="danger" (click)="removereceiptDetails(i)"></nb-icon>

                </td>

              </tr>
            </tbody>

          </table>
          <tfoot>
            <tr>
              <td> {{'Total' | translate}} : </td>
              <td>{{Total}}</td>
            </tr>
          </tfoot>
        </form>

      </nb-card-body>

      <nb-card-footer>

        <button type="button" nbButton status="success" [disabled]="AddForm.invalid" (click)="Add();ref.close()">
          {{'Save' | translate}} </button>

        <button nbButton status="danger" (click)="ClearForm();ref.close()"> {{'Cancel' | translate}} </button>


      </nb-card-footer>
    </nb-card>
  </ng-template>


  <ng-template #Editdialog class="model-full" let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>
        <h4 class="modal-title" id="modal-basic-title">{{'Edit' | translate}}</h4>

      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="EditForm">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">

                <label> {{'Date' | translate}}</label>
                <input nbInput placeholder="Pick Date" [nbDatepicker]="dateTimePicker" class="form-control"
                  (change)="onChanges()" formControlName="Date">
                <nb-datepicker #dateTimePicker></nb-datepicker>
                <span *ngIf="hasEditError('Date', 'required')" style="color: red"> {{'Date' | translate}}
                  {{'IsRequired' | translate}}</span>

              </div>
            </div>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>{{'Drug' | translate}} {{'Name' | translate}} </th>
                <th> {{'Quantity' | translate}} </th>
                <th> {{'Action' | translate}} </th>

              </tr>
            </thead>
            <tbody formArrayName="receiptDetails">
              <tr *ngFor="let iv of EditreceiptDetails.controls;let i =index" [formGroupName]="i">

                <td>
                  {{i}}
                </td>
                <td>
                  <nb-select placeholder="اسم الدواء" formControlName="drugId" required>
                    
                    <nb-option *ngFor="let d of Drugs" [value]="d.id">{{d.drugName}}</nb-option>
                  </nb-select>

                </td>
                <td>

                  <input class="form-control" required numbersOnly formControlName="quantity" type="text" nbInput
                    fullWidth (keyup)="CalculateEditTotal()">


                </td>

                <td>
                  <nb-icon *ngIf="i ==0" icon="plus" status="success" (click)=" EditreceiptDetailsList()"></nb-icon>
                  <nb-icon *ngIf="i !=0" icon="trash" status="danger" (click)="removereceiptDetailsEdit(i)"></nb-icon>

                </td>

              </tr>
            </tbody>

          </table>
   
        </form>

      </nb-card-body>

      <nb-card-footer>

        <button type="button" nbButton status="success" [disabled]="EditForm.invalid"
          (click)="updatereceipt();ref.close()">
          {{'Save' | translate}} </button>

        <button nbButton status="danger" (click)="ClearForm();ref.close()"> {{'Cancel' | translate}} </button>


      </nb-card-footer>
    </nb-card>
  </ng-template>



  <ng-template #Deletedialog class="model-full" let-data let-deletemodalref="dialogRef">
    <nb-card>
      <nb-card-header>
        <h4 class="modal-title" id="modal-basic-title">{{'Delete' | translate}}
          {{'Drug' | translate}} {{'From' | translate}}
          {{'receipt' | translate}}</h4>

      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-12">
            <p class="text-danger" style="font-size: x-large;">
              {{'AreYouSureYouWantToDeleteThisItem' | translate}} ?


            </p>
          </div>
        </div>
      </nb-card-body>

      <nb-card-footer>

        <button type="button" nbButton status="success"
          (click)="deletemodalref.close(true)">{{'Save' | translate}}</button> <button type="button" nbButton
          status="danger" (click)="deletemodalref.close(false)">
          {{'Cancel' | translate}}</button> </nb-card-footer>
    </nb-card>
  </ng-template>
</div>
<ng-template #Viewdialog class="model-full" let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      <h4 class="modal-title" id="modal-basic-title">{{'View' | translate}}</h4>

    </nb-card-header>
    <nb-card-body>
      
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">

              <label> {{'Date' | translate}}</label>
              <input nbInput [(ngModel)]="viewObj.date"  [nbDatepicker]="dateTimePicker" 
               disabled>
              <nb-datepicker #dateTimePicker></nb-datepicker>
      

            </div>
          </div>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th> {{'Name' | translate}} </th>
              <th> {{'Quantity' | translate}} </th>
         

            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let drug of viewObj.receiptDetails;let i =index" >

              <td>
                {{i}}
              </td>
              <td>

                <input [(ngModel)]="drug.drugName"   type="text" nbInput
                fullWidth disabled>
            

              </td>
              <td>

                <input   [(ngModel)]="drug.quantity"   type="text" nbInput
                  fullWidth disabled>


              </td>

         

            </tr>
          </tbody>

        </table>
 
 

    </nb-card-body>

    <nb-card-footer>

     

      <button nbButton status="danger" (click)="ref.close()"> {{'Cancel' | translate}} </button>


    </nb-card-footer>
  </nb-card>
</ng-template>