<div class="container">


  <nb-card>
    <nb-card-header>

      <div class="row">
        <div class="col-md-3">
          {{'Samples' | translate}}
        </div>
        <div class="offset-8 col-md-1">

          <button nbButton status="primary" (click)="openAddModal(Adddialog)"> <i class="fa fa-plus "></i></button>
        </div>
      </div>
    </nb-card-header>

    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source"
        (custom)="onCustomAction(Deletedialog,Editdialog,$event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>


  <ng-template #Adddialog class="model-full" let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>
        <h4 class="modal-title" id="modal-basic-title">{{'Add' | translate}}{{'Samples' | translate}}</h4>

      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="AddForm">
          <div class="row">
            <div class=" col-md-6">

              <div class="form-group">

                <label>{{'Doctor' | translate}} {{'Name' | translate}}</label>


                <input class="form-control" formControlName="DoctorName" type="text" nbInput fullWidth>
                <span *ngIf="hasError('DoctorName', 'required')" style="color: red">{{'Doctor' | translate}}
                  {{'Name' | translate}} {{'IsRequired' | translate}}</span>



              </div>
            </div>
            <div class=" col-md-6">

              <div class="form-group">

                <label>{{'Drug' | translate}} {{'Name' | translate}}</label>

                <nb-select placeholder="Select a Drug" [(selected)]="selectedItem" formControlName="DrugId">
                  <nb-option value="0">Option empty</nb-option>
                  <nb-option *ngFor="let d of StockDetails" [value]="d.drugId">{{d.drugName}}</nb-option>
                </nb-select>
                <span *ngIf="hasError('DrugId', 'required')" style="color: red;display: block;">{{'Drug' | translate}}
                  {{'Name' | translate}}
                  {{'IsRequired' | translate}}</span>

              </div>
            </div>
            <div class=" col-md-6">

              <div class="form-group">

                <label>{{'Quantity' | translate}}</label>


                <input class="form-control" formControlName="qunantity" type="text" numbersOnly nbInput fullWidth>
                <span *ngIf="hasError('qunantity', 'required')" style="color: red">{{'Quantity' | translate}}
                  {{'IsRequired' | translate}}</span>


              </div>
            </div>
          </div>


        </form>

      </nb-card-body>

      <nb-card-footer>

        <button type="button" nbButton status="success" [disabled]="AddForm.invalid"
          (click)="Add();ref.close()">{{'Save' | translate}}</button>
        <button nbButton status="danger" (click)="ref.close()">{{'Cancel' | translate}}</button>


      </nb-card-footer>
    </nb-card>
  </ng-template>

  <ng-template #Editdialog class="model-full" let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>
        <h4 class="modal-title" id="modal-basic-title">{{'Edit' | translate}} {{'Samples' | translate}}</h4>

      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="EditForm" (submit)="UpdateSampleObject()">

          <div class="row">
            <div class=" col-md-6">

              <div class="form-group">

                <label>{{'Doctor' | translate}} {{'Name' | translate}}</label>


                <input class="form-control" formControlName="DoctorName" type="text" nbInput fullWidth>
                <span *ngIf="hasEditError('DoctorName', 'required')" style="color: red">{{'Doctor' | translate}}
                  {{'Name' | translate}} {{'IsRequired' | translate}}</span>



              </div>
            </div>
            <div class=" col-md-6">

              <div class="form-group">

                <label>{{'Drug' | translate}} {{'Name' | translate}}</label>

                <nb-select placeholder="Select Showcase" formControlName="DrugId">

                  <nb-option *ngFor="let d of StockDetails" [value]="d.drugId">{{d.drugName}}</nb-option>
                </nb-select>
                <span *ngIf="hasEditError('DrugId', 'required')" style="color: red;display: block;">Drug
                  {{'IsRequired' | translate}}</span>

              </div>
            </div>
            <div class=" col-md-6">

              <div class="form-group">

                <label>{{'Quantity' | translate}}</label>


                <input class="form-control" formControlName="qunantity" type="text" numbersOnly nbInput fullWidth>
                <span *ngIf="hasEditError('qunantity', 'required')" style="color: red">{{'Quantity' | translate}}
                  {{'IsRequired' | translate}}</span>



              </div>
            </div>
          </div>
        </form>
      </nb-card-body>

      <nb-card-footer>
        <button type="button" nbButton status="success" [disabled]="EditForm.invalid"
          (click)="updateSample();ref.close()">{{'Save' | translate}}</button>
        <button nbButton status="danger" (click)="ref.close()">{{'Cancel' | translate}}</button>


      </nb-card-footer>
    </nb-card>
  </ng-template>

  <ng-template #Deletedialog class="model-full" let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>
        <h4 class="modal-title" id="modal-basic-title">{{'Delete' | translate}}</h4>

      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-8">
            <p class="text-danger">
              {{'AreYouSureYouWantToDeleteThisItem' | translate}}?
            </p>
          </div>
        </div>

      </nb-card-body>

      <nb-card-fotter>

        <button type="button" nbButton status="success" data-dismiss="Dmodal"
          (click)="ref.close(true);ref.close()">{{'Save' | translate}}</button>
        <button nbButton status="danger" (click)="ref.close(false)">{{'Cancel' | translate}}</button>


      </nb-card-fotter>
    </nb-card>
  </ng-template>
</div>
