@import '~nebular-icons/css/nebular-icons.css';



.container {
  margin: 1%;
  padding: 2%;

}
table {
  background-color: "#fff";
  box-shadow: 3px 4px 15px 5px #2e3a59 ;
}

table thead{
  background-color: #2e3a59;
  color:#fff

}
table th{
  border-top:none !important ;
}

table tbody tr td {
  color: #2e3a59;
  border-bottom: thin #2e3a59 1px;
}

.modal-content {
  background-color: transparent !important;
}

nb-card-footer {
  text-align: end;
}

nb-card-footer button {

  margin-right: 1%;
}

.defaultdialogue {
  display: block !important;
  width: 600px;

}

.md-modal {
  display: block !important;
  width: 700px;

}

.lg-modal {
  display: block !important;
  width: 1000px;

}

.ng2-smart-actions {
  width: 14%;
}
.nb-theme-dark ng2-smart-table .ng2-smart-actions a.ng2-smart-action:not(:last-child){
margin-top: 15%;

}

label,span{display: block;}
