@import '~nebular-icons/css/nebular-icons.css';

.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column{

  padding: 0;
}

.container {
  padding: .5%;

}

table {
  background-color: "#fff";
  box-shadow: 3px 4px 15px 5px #2e3a59;
}

table thead {
  background-color: #2e3a59;
  color: #fff
}

table th {
  border-top: none !important;
}

table tbody tr td {
  color: #2e3a59;
  border-bottom: thin #2e3a59 1px;
}

.modal-content {
  background-color: transparent !important;
}

nb-card-footer {
  text-align: end;
}

nb-card-footer button {

  margin-right: 1%;
}

.defaultdialogue {
  display: block !important;
  width: 600px;
  box-shadow: 0px 0px 20px 8px #2e3a59;

}

.md-modal {
  display: block !important;
  width: 700px;
  box-shadow: 0px 0px 20px 8px #2e3a59;


}

.lg-modal {
  display: block !important;
  width: 1000px;
  box-shadow: 0px 0px 20px 8px #2e3a59;

}

.ng2-smart-actions {
  width: 20%;
}
.cdk-overlay-pane{
       border-radius: .25rem  !important;
}



label,
span {
  display: block;
}


.ng2-smart-actions-title {
  display: table-column !important;
}
.fa{
  font-size: larger;
}

@media (max-width :1000px){
  .nb-theme-dark ng2-smart-table .ng2-smart-actions{

    display: block;
    position: relative;
  }

  nb-layout-header{
    padding: 5%;

    }
    .row{
      width:100%;
      display:contents;
    }

}
.row{
  width:100%;
}
i .fa :hover{
  cursor: pointer;
}

.nb-theme-default ng2-smart-table table tr.ng2-smart-titles th a:hover, .nb-theme-default ng2-smart-table table tr.ng2-smart-titles th a:active, .nb-theme-default ng2-smart-table table tr.ng2-smart-titles th a:visited{
color: #fff;

}
.nb-theme-default ng2-smart-table .ng2-smart-actions ,.nb-theme-dark ng2-smart-table .ng2-smart-actions,
.nb-theme-cosmic ng2-smart-table .ng2-smart-actions{
  height: none;
  padding-top: 1.5%;

}
.nb-theme-default nb-card ,nb-theme-dark  nb-card{
  margin-bottom: 0 im !important;
}
 

[dir=rtl] .nb-theme-default .row{ direction: rtl;}
[dir=ltr] .nb-theme-default .row{ direction: ltr;}





