
<nb-layout>
  <nb-layout-header>
    <div class="row">

      <div class="col-md-5">
        <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
          <nb-icon icon="menu-2-outline"></nb-icon>
        </a>
      </div>
  <div class="col-md-5">
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>

  </div>
    </div>
  </nb-layout-header>

  <nb-sidebar Left>
    <nb-menu-children></nb-menu-children>
  </nb-sidebar>


  <nb-layout-column class="colored-column-warning">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </nb-layout-column>
</nb-layout>

